<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username" value="user"/> </label></div>
            <div><label> Password: <input type="password" name="password" value="password"/> </label></div>
            <div><label> imageCode: <input type="text" name="imageCode" value=""/> </label>
                  <img src="/code/image">
            </div>
                        
            <div><input type="submit" value="Sign In"/></div>
            </br>
            <div><button type="button" onclick="delCsrf()">清除token</button></div>
        </form>
    </body>
    <script>
        var delCsrf = function() {
            var inputs = document.querySelectorAll("input")
            var csrf
            for (var input in inputs) {
                if(inputs[input].type == 'hidden' && inputs[input].name == '_csrf') {
                    csrf = inputs[input]
                    break
                }
            }
            csrf.value = ''
            if(csrf.value == '') {
                alert('已清空,需要重新获取Toekn 才能登录')
            }

        }
    </script>
</html>